<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="ui middle aligned center aligned grid login-container">
    <div class="row">
      <div class="sixteen wide column">
          <div class="ui inverted segment">
            <h3 class="ui horizontal divider inverted header">Login </h3>
            <button class="tiny ui teal facebook button">
                <i class="white facebook icon"></i>
                Facebook
              </button>
              <button class="tiny ui red button">
                <i class=" white google plus icon"></i>
                Google Plus
              </button>
              <button class="tiny ui violet instagram button">
                <i class="white instagram icon"></i>
                Instagram
              </button>
              <button class="tiny ui blue twitter button">
                  <i class=" white twitter icon"></i>
                  Twitter
                </button>
          </div>
      </div>
    </div>
   </div>


      
       
</ion-content>
